body{
    margin: 0px;
    background: linear-gradient(100deg, #2B2B2B, #1E1E1E);
}
.Wrapper{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Container{
    padding: 10px;
    border-radius: 15px;
    margin-top: 50px;
}
.Headers{
    color:#f5c400c1;
}
.Container2{
    border: 2px solid black;
}
.Display{
    border: 5px solid rgb(49, 49, 49);
    box-shadow: 3px 3px 5px black, -3px -1px 5px black;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    padding: 9px;
    color: #f5c400c1;
    overflow: hidden;
}
.GenerateBtn{
    margin-top: 20px;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background: linear-gradient(180deg, #FFE600, #F5C400);
    color: #111;
    transition: background 0.2s ease-in-out;
    transform: translateY(-5%);
    box-shadow: -2px 6px 0 #faf9f9, 2px 6px 0 rgb(255, 255, 255);
    cursor: pointer;
}
.GenerateBtn:hover{
     background: linear-gradient(180deg, hsl(54, 99%, 52%), #F5C400);
     color: #292929;
}
.GenerateBtn:active{
     background: linear-gradient(180deg, #1d1d1d, #2a2a2a);
     color: #F5C400;
     transform: translateY(0);
     box-shadow: 0 0 0 #242424;
}
#DisplayText{
    font-size: 1.5rem;
    font-weight: lighter;
}
.Quote{
    text-align: center;
    margin: center;
    justify-content: center;
}
.Author{
    text-align: center;
    margin-top: 150px;
}